<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" 
           path="*" 
           verb="*" 
           modules="httpPlatformHandler" 
           resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="python"
                  arguments="-m gunicorn app:app --timeout 600 --bind 0.0.0.0:%HTTP_PLATFORM_PORT%"
                  startupTimeLimit="120"
                  requestTimeout="00:10:00">
      <environmentVariables>
        <environmentVariable name="FLASK_ENV" value="production"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>